/* COLORS */
$gray: #F8F8F8
$coral: #FB7151
$orange: #F16B26
$blue: #0E84F6

/* FONTS */
$font-main: 'Alfa Slab One', cursive
$font-secundary: 'Roboto', sans-serif

.welcome
  font-family: $font-main
  color: #000
  font-size: 2rem

.text
  font-family: $font-secundary
  color: #BBB7B3
  font-size: 1.5rem


.card
  margin: 2rem
  border-radius: 10px
  background-color: $coral
  color: #fff
  width: 100%

.btn
  color: $orange
  font-family: $font-main

.first
  background-color: $coral
  border-radius: 20px 20px 0 0

.discount
  background-color: $gray
  width: 70px
  text-align: center

.cardProduct
  width: 220px
  background-color: $gray
  color: #000
  border-radius: 20px
  box-shadow: 10px 10px 20px #cbced1, -13px -13px 20px #ffffff

.btnCard
  background-color: $coral
  color: #fff

.priceTotal
  font-family: $font-main

