<div style="position: fixed" class="fixed-bottom text-center footer container">
  <button type="button" class="col-auto btn"><i class="fas fa-home text-secondary fs-2"></i></button>
  <button type="button" class="col-auto btn"><i class="fas fa-heart text-secondary fs-2"></i></button>
  <button type="button" class="col-auto btn"><i class="fas fa-shopping-cart text-secondary fs-2"></i></button> <!-- (click)="logOut()"  -->
  <button type="button" class="col-auto btn"><i class="fas fa-user text-secondary fs-2"></i></button><!-- [routerLink]="['/profile']" -->
  <button type="button" class="col-auto btn"><i class="fas fa-sign-out-alt text-secondary fs-2" (click)="logOut()"></i></button><!-- [routerLink]="['/profile']" -->
</div>
