/* COLORS */
$gray: #F8F8F8
$coral: #FB7151
$orange: #F16B26
$blue: #0E84F6

/* FONTS */
$font-main: 'Alfa Slab One', cursive
$font-secundary: 'Roboto', sans-serif

.welcome
  font-family: $font-main
  color: $coral
  font-size: 3rem

.text
  font-family: $font-secundary

.logo-home
  margin-top: -1rem
  height: 30vh

.custom-form
  background: rgba(255, 255, 255, 0.15)
  padding: 1.5rem 2rem
  border-radius: 2.5rem
  background-color: $gray
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff

.btn
  background-color: $orange
  border: none
  border-radius: 15px

.btn:hover
  background-color: $coral

a
  text-decoration: none

@media (min-width: 320px) and (max-width: 660px)
  .custom-form
    min-width: 330px
